#individual-saved-setlist {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color:#5b009e;
  border: 2px dashed;
  border-top-color: #06BC40;
  border-bottom-color: #D4AF37;
  border-left-color: #5b009e;
  border-right-color: #5b009e;
  border-radius: 5px;
  padding: 5px;
}

#setlist-list {
  margin-top: 10px;
}

#add-setlist-container {
  margin-top: 60px;
}

#add-setlist-link {
  text-decoration: none;
  color: green;
}

#add-setlist-link:hover {
  color: grey;
}

#create-setlist-text {
  font-size: 18px;
}
