Input {
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
}

div, Button {
  font-family: 'Muli', sans-serif;
}

.red {
  color: red;
}

.LoginForm {
  font-weight: bold;
}

#login-submit-button {
  background-color: white;
  border: 2px dotted black;
  border-radius: 5px;
}

#login-register-button {
  background-color: white;
  border: 2px dotted black;
  border-radius: 5px;
  padding: 9px;
  text-decoration: none;
}

#app-description {
  font-style: italic;
}