/* .Header {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
} */
 
h1 {
  margin-top: 85px;
  font-family: 'Gochi Hand', cursive;
  font-size: 50px;
}

.Header a {
  color: #444;
  text-decoration: none;
}

.not-logged-in {
  position: fixed;
  margin: 25px;
  top: 0;
  width: 92%;
}

.not-logged-in a {
  float: right;
  display: block;
  text-align: start;
  padding: 14px;
  /* text-decoration: none; */
}

.not-logged-in a:hover {
  color: black;
}

.logged-in {
  position: fixed;
  margin: 25px;
  top: 0;
  width: 92%;
}

.logged-in a {
  float: right;
  display: block;
  text-align: start;
  padding: 14px;
  /* text-decoration: none; */
}

.logged-in a:hover {
  color: black;
}