/* .Header {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
} */


#street-beat-header {
  margin-top: 85px;
  font-family: 'Gochi Hand', cursive;
  font-size: 80px;
}

.purple {
  color: #5b009e;
}

#green {
  color: #06BC40;
}

.gold {
  color: #D4AF37;
}

.Header a {
  text-decoration: none;
}

.not-logged-in {
  margin-top: 25px;
  margin-bottom: 35px;
  top: 0;
  width: 94%;
}

.not-logged-in a {
  float: right;
  display: block;
  text-align: start;
  color: green;
  margin-left: 15px;
}

.not-logged-in a:hover {
  color: grey;
}

.logged-in {
  margin-top: 25px;
  margin-bottom: 35px;
  top: 0;
  width: 94%;
}

.logged-in a {
  float: right;
  display: block;
  text-align: start;
  color: green;

}

.logged-in a:hover {
  color: black;
}
