* {
  list-style-type: none;
}

.nav-link-text {
  text-decoration: none;
  color: green;
}

.nav-link-text:hover {
  color: grey;
}

.nav-link-text:active {
  color: grey;
}

#nav-bar-container {
  display: flex;
  direction: column;
  justify-content: center;
  margin-top: -25px;
}

.songs {
  margin-left: 25px;
  margin-right: 25px;
}

.band {
  margin-left: 25px;
}
