#left {
  width: 350px;
  height: 250px;
  margin-top: 10px;
}

#right {
  width: 350px;
  height: 250px;
  margin-top: 10px;
}

option {
  width: 100%;
}

#shuttle-container {
  display: flex;
  flex-direction: column;
}

#shuttle-container #controls-transfer {
  flex-direction: row;
  padding: 55px;
  margin-top: -130px;
  margin-bottom: -110px;
  transform: rotate(90deg);
}

#right-shuttle-container{
  margin-top: 20px;
}
.shuttle-box-song {
  color: #5b009e;
  font-size: 15px;
}

#controls-transfer-text{
  padding: 15px;
}

.controls {
  background-color: #D4AF37;
  padding: 10px;
  margin-top: 4px;
}

input.controls-reorder {
  position: relative;
  margin-bottom: 500px;
  margin-left: 300px;
}

@media only screen and (min-width: 820px) {
  
  #left {
    width: 350px;
    height: 350px;
  }

  #right {
    width: 350px;
    height: 350px;
  }

  #right-shuttle-container{
    margin-top: -1px;
  }

  option {
    width: 100%;
  }

  .shuttle-box-song {
    color: #5b009e;
    font-size: 16px;
  }

  #shuttle-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }

  #controls-transfer-text, #controls-reorder-text {
    display: none;
  }
  #shuttle-container #controls-transfer {
    position: unset;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: -40px;
    margin-right: -20px;
    transform: none;
  }

  #controls-reorder {
    padding: 4px;
    margin-right: 8px;
    margin-top: 145px;
    margin-left: -25px;
  }

  #up {
    margin-bottom: 20px;
  }

  .controls {
    background-color: #D4AF37;
    padding: 5px;
    margin: unset;
  }

  #controls-transfer{
    margin: 5x;
  }

  #counter-text {
    font-size: 20px;
    margin-top: -30px;
  }
}