#left {
  width: 250px;
  height: 350px;
}

#right {
  width: 250px;
  height: 350px;
}

option {
  width: 300px;
}

.shuttle-box-song {
  /* text-align: center; */
}

.shuttle-box-song:focus {
  background-color: #D4AF37;
}

#shuttle-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

#controls{
  margin-top: 100px;
}

.controls {
  background-color: green;
}

#counter-text {
  font-size: 20px;
}
